<div class="bar" id="education">
    <h4>Education</h4>
</div>
<div class="container bootdey">
    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="timeline">
                        <div class="timeline-row">
                            <div class="timeline-time">
  
                            </div>
                            <div class="timeline-dot fb-bg"></div>
                            <div class="timeline-content">
                                <i class="fa fa-map-marker"></i>
                                <h4>Schooling</h4>
                                <h3>Saraswathi High School-Uppugundur</h3>
                                <p>
                                    Schooling is a formative period in a person's life where they undergo structured
                                    education to develop academic, social, and personal skills. It typically begins
                                    in early childhood with preschool or kindergarten and extends through primary,
                                    secondary, and sometimes tertiary education. During schooling, students engage
                                    in various subjects such as mathematics, science, language arts, and social
                                    studies, while also participating in extracurricular activities like sports,
                                    arts, and clubs. Schooling provides opportunities for intellectual growth,
                                    character development, and the acquisition of essential knowledge and skills
                                    necessary for success in later stages of life. It also fosters friendships,
                                    encourages teamwork, and lays the foundation for lifelong learning.
                                </p>
                            </div>
                        </div>
                        <div class="timeline-row">
                            <div class="timeline-time">
  
                            </div>
                            <div class="timeline-dot green-one-bg"></div>
                            <div class="timeline-content green-one">
                                <i class="fa fa-warning"></i>
                                <h4>Secondary School -[June 2018-Mar 2019]</h4>
                                <h3>Saraswathi High School-Uppugundur</h3>
                                <h4>10 CGPA</h4>
                                <p>
                                    The experience in secondary school involves a more specialized curriculum, with
                                    students having the opportunity to choose elective courses based on their
                                    interests and career goals. They may also participate in extracurricular
                                    activities, such as sports teams, clubs, and student government, which foster
                                    personal growth and social development. Secondary school is a time of
                                    self-discovery, where students begin to explore their passions, develop critical
                                    thinking skills, and establish lasting friendships. It can be a challenging yet
                                    rewarding experience that shapes individuals academically, socially, and
                                    emotionally as they transition into young adulthood.
                                </p>
  
                            </div>
                        </div>
                        <div class="timeline-row">
                            <div class="timeline-time">
  
                            </div>
                            <div class="timeline-dot green-two-bg"></div>
                            <div class="timeline-content green-two">
                                <i class="fa fa-list"></i>
                                <h4>Intermediate -[June 2019-Mar 2021]</h4>
                                <h3>Gayatri Junior Collge-Vijaywada</h3>
                                <h4>Mpc-94.5%</h4>
                                <p> Intermediate education often emphasizes the development of critical thinking,
                                    problem-solving, and study skills necessary for academic success in later years.
                                    Students may also have opportunities to explore elective courses or
                                    extracurricular activities to discover their interests and talents.
  
                                    Overall, intermediate education serves as a bridge between the formative years
                                    of primary school and the more specialized and focused learning of secondary
                                    education, laying the groundwork for continued academic growth and personal
                                    development.</p>
  
                            </div>
                        </div>
                        <div class="timeline-row">
                            <div class="timeline-time">
                            </div>
                            <div class="timeline-dot sea-green-bg"></div>
                            <div class="timeline-content sea-green">
                                <i class="fa fa-image"></i>
                                <h4>Under Graduate -[Dec 2021-July 2025]</h4>
                                <h3>Godavari Institue Of Engineering And Technology-Rajahmundry</h3>
                                <h4>Computer Science And Engineering-8.60 CGPA</h4>
                                <p> During a B.Tech program, students undergo a combination of theoretical study,
                                    practical laboratory work, and hands-on projects. They learn fundamental
                                    principles of engineering, mathematics, and science, as well as specialized
                                    topics related to their chosen field of study. The curriculum often includes
                                    courses in subjects like calculus, physics, computer programming, circuits,
                                    mechanics, and design.Overall, the B.Tech experience is characterized by a
                                    rigorous yet rewarding blend of academic study, practical application, and
                                    personal growth. Graduates of B.Tech programs are equipped with the skills,
                                    knowledge, and hands-on experience needed to pursue careers in engineering or
                                    further studies at the graduate level.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  