<div class="bar" id="aboutme">
    <h4>About-Me</h4>
</div>

<section id="about">
    <div class="container">
        <h1 class="text-center">About Me</h1>
        <div class="row">
            <div class="col-lg-4">
               
            </div>
            <div class="col-lg-8">
                <h2>Computer Science Student</h2>
                <p>Hi, I'm a computer science student with a passion for learning and problem-solving. I'm currently
                    pursuing my bachelor's degree in computer science and I'm excited to explore new technologies and
                    programming languages. I have experience in web development, data structures, and algorithms.</p>
                <p>In my free time, I enjoy learning new programming languages and frameworks. I also like to contribute
                    to open-source projects and participate in coding competitions. My goal is to become a skilled
                    software developer and make a positive impact on the world through technology.</p>
                    <a href="../assets/pdfs/Resume.pdf" class="btn btn-primary" style="background-color: #4D728A;">Resume</a>
            </div>
        </div>
    </div>
</section>
