<div class="bar" id="contact">
    <h4>Contact-Me</h4>
</div>
<div class="contact-container">
    <div class="contact-left">
        <h1 class="sub-title">Contact Me</h1>
        <p><i class="fa-regular fa-paper-plane"></i>saikrishnakasimalla@gmail.com</p>
        <p><i class="fa-solid fa-phone-volume"></i>7995315704</p>
        <div class="social-icons">
            <a href="https://github.com/SaiKrishnaKasimalla-839"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.hackerrank.com/profile/saikrishnakasim1"><i class="fa-brands fa-hackerrank"></i></a>
            <a href="https://www.linkedin.com/in/sai-krishna-kasimalla-126b67252/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.codechef.com/users/SaiKrishnaKasima"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
    </div>
    <div class="contact-right">
        <form>
            <input type="text" name="Name" placeholder="Your Name" required>
            <input type="email" name="Email" placeholder="Your Email" required>
            <textarea name="message" placeholder="Your Message"></textarea>
            <button type="submit" class="btn btn2">Submit</button>
        </form>
    </div>
</div>
