<div class="bar" id="skills">
    <h4>Skills</h4>
</div>
<div class="container" data-aos="fade-left">
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <div class="timeline" *ngFor="let i of Images">
                    <a href="#" class="timeline-content">

                        <div class="timeline-icon" data-aos="fade-left"><img [src]="i.src" alt="html">
                        </div>
                        <h3 class="title">{{i.h3}}</h3>
                        <p class="description">
                            {{i.p}}
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>